h2{
    color : orange;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.Kotak{
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background: blue;
}
#Kotak{
    width: 400px;
    color: #fff;
    background-color: blue;
    padding: 50px;
}

body{
    background: url('../img/pohon1.png'),url('../img/field1.jpg');
    background-repeat: no-repeat,repeat;
    color: white;
}